
body {
	background: url('images/backgroundspace.jpg');
	font-family: 'Baloo Tammudu', cursive;
	
	
}



#body1 {

	font-size: 26px;
	color: #FFF;
	text-align: center;
	text-shadow: 2px 2px 2px #00FF00;
}

#body2 {
	text-align: center;
	font-size: 20px;
	color: #FF00FF;
}

#body3 {
	font-size: 22px;
	color: #FF16FE;
}


	a:link {
			color: yellow;
			text-decoration: none;
		
	}
	
	a:visited {
			color: green;
			text-decoration: none;
		
	}

	a:hover {
		color: red;
			font-weight: normal;
		
	}
	
	a:active {
		color: purple;
		text-decoration: none;
	}
	
	caption {
	font-size: 24px;
	font-weight: bold;
	color: #FF0000;
}

#content table {
	border: 1px solid #5E7410;
	margin: 0px auto;
	text-align: left;
	width: 100%;
}

#content table thead {
	background-color: #FFFFFF;
	padding: 9px 24px;
	font-size: 18px;
	text-shadow: 1px 1px 2px #FFF;
	
}

#content table tbody tr th {
	color: #000000;
	font-weight: bold;
	font-size: 16px;
	line-height: 18px;
	padding: 9px, 24px;
	background-color: #FFFFFF;
	text-align: center;
	text-shadow: 1px 1px 2px #000;
}


#content tr td {
	
	border-top: 1px solid #5E7410;
	padding: 6px 24px;
}


#content tbody tr:nth-child(even) {
	background-color: #BFE542;
}

#content tbody tr:nth-child(odd) {
	background-color: #00FE32;
}


#content tbody tr:hover {
	background-color: #ff69b4;
}