{% load static %}
<html>
    <head>
		<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
		<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
		<link href="https://fonts.googleapis.com/css?family=Playfair+Display" rel="stylesheet">
		<link rel="stylesheet" href="{% static 'css/homepage.css' %}">
        <title>By Uploads and Downloads</title>
    </head>
    <body>
	<form method="POST" class="DownloadUploadForm" action = "handledownloadupload">{% csrf_token %}
		{{form.as_p}}
    <button type="submit" class="save btn btn-default">Submit</button>
	</body>

	
</html>