{% load static %}
<html>
    <head>
		<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
		<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
		<link href="https://fonts.googleapis.com/css?family=Playfair+Display" rel="stylesheet">
		<link rel="stylesheet" href="{% static 'css/homepage.css' %}">
        <title>Uploads and Downloads</title>
    </head>
    <body>
	<h2>Showing {{entries}} entries for {{mac}}</h2>

	<table class = "table" >
	<thead>
		<tr>
			<th>Date</th>
			<th>Upload</th>
			<th>Download</th>
		<tr>
	</thead>
	{% for report in reports %}
		<tr>
			<td>{{report.date}}</td>
			<td>{{report.upload}}</td>
			<td>{{report.download}}</td>
		</tr>
		
		{% empty %}
			<h1>No entries found for this MAC!</h1>
	{% endfor %}
	</body>

	
</html>